[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=aurelianap
Group=aurelianap
WorkingDirectory=/home/aurelianap/workspace/football-draw
Environment="PATH=/home/aurelianap/workspace/football-draw/myprojectenv/bin"
ExecStart=/home/aurelianap/workspace/football-draw/myprojectenv/bin/gunicorn --workers 3 --bind 0.0.0.0:9090 -m 007 wsgi

[Install]
WantedBy=multi-user.target